* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

html {
  background-image: url(img/main-edz-norton-unsplash.jpg);
  filter: saturate(60%);
  background-size: cover;
  background-position-y: -100px;
  background-repeat: repeat;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: 100%;
  padding: 40px 100px;
  width: 40%;
  margin: auto;
}

h1 {
  font-size: 34px;
  font-weight: 900;
  color: #3A364A;
  text-align: center;
  margin-top: 20px;
}

.buttons {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

button.player,
button.again {
  width: 120px;
  font-size: 20px;
  font-weight: 500;
  padding: 15px 10px;
  background-color: #fff;
  margin: 10px 30px;
  cursor: pointer;
  border: 1px solid #3A364A;
}

button.player:hover,
button.again:hover {
  /* background-color: #a29fa5; */
  box-shadow: 0px 0px 5px 1px #c72462;
  transform: scale(1.1, 1.1);
}

.results {
  width: 85%;
  margin-top: 30px;
  background-color: #fff;
  padding: 10px 20px;
  border: 1px solid #3A364A;
}

h3.player,
h3.computer,
h3.result {
  color: #111;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6em;
  padding: 0 5px;
}

h3.result {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  background-color: lightyellow;
}

h1.winner {
  width: 85%;
}

button.again {
  width: auto;
  margin-top: 30px;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 20px;
  text-align: left;
}

footer p {
  padding: 0 20px;
  font-size: 12px;
  color: #3A364A;
}

a,
a:visited {
  text-decoration: none;
  color: #3A364A;
  font-size: 12px;
}