body {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  align-content: center;
  height: 100%;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  font-weight: 900;
  color: #fff;
  text-align: center;
  width: 100%;
}